@font-face {
    font-family: 'Inconsolata';
    src: url(../assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

* {
    padding: 0px;
	margin: 0px;
	box-sizing: border-box;
    font-family: 'Inconsolata', Courier, monospace;
}

input[type="text"],
input[type="email"],
input[type="file"]{
    background: none;
    border: none;
}

body {
    color: #fff;
    background: url(../assets/images/background-desktop.png) no-repeat;
    background-size: cover;
    background-origin: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-logo {
    padding: 10px 0;
}

main {
    padding: 0 20%;
}

/* secção de cadastro (form) */

.slogan-title {
    font-weight: 800;
    font-size: 44px;
    text-align: center;
}

.text-descripiton {
    font-weight: 400;
    text-align: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    padding: 20px 20%;
}

#formulario label {
    padding: 15px 0;
    cursor: pointer;
}

#formulario .container_input-avatar {
    background-color: hsla(246, 15%, 58%, 0.144);
    border: 0.1px dashed hsl(0, 0%, 100%);
    border-radius: 4px;
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 10px 0;
    position: relative;
}

#formulario #upload-avatar {
    opacity: 0;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.container_input-avatar img {
    background-color: hsla(246, 15%, 58%, 0.623);
    border: 1px solid hsla(252, 6%, 83%, 0.384);
    border-radius: 17px;
    padding: 5px;
    width: 20%;
}

.container_input-avatar p {
    padding-top: 10px;
}

#formulario small {
    font-weight: 300;
    padding-top: 10px;
    color: hsl(245, 19%, 35%);
}

#formulario  #full-name, #email-address, #github-user {
    color: #fff;
    background-color: hsla(246, 15%, 58%, 0.144);
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 4px;
    padding: 10px;
    font-weight: 400;
}

#formulario button{
    cursor: pointer;
    margin: 10px 0 0 0;
    padding: 13px;
    border: none;
    border-radius: 11px;
    text-align: center;
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    font-weight: 900;
    font-size: 20px;
}


/* seção de ticket */